.navbar {
    background-color: #7473B7; /* Dark background color */
    padding: 10px 0; /* Add some padding */
  }
  
  
  .navbar-item {
    display: inline-block; /* Display items horizontally */
    margin-right: 20px; /* Add space between items */
  }
  
  .navbar-link {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* White text color */
    font-size: 16px; /* Adjust font size */
  }
  
  .navbar-link:hover {
    text-decoration: underline; /* Underline links on hover */
  }
  
  .navbar-item-logo {
    display: inline-block; /* Display items horizontally */
    font-size: 32px; /* Adjust font size */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #454bbc;
    text-shadow: 0 0 20px rgb(253, 253, 252);
    -webkit-text-stroke: 0.17px white;
  }